.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1200px;
	width: 100%;
}
.page_main_content_wrapepr {
	margin-top: 65px;
}
.section_title_wrapper {
	.section_title {
		margin: 0;
		font-size: 46px;
		font-family: 'Prosto One', sans-serif;
		text-align: center;
		font-weight: 400;
		max-width: 800px;
		padding: 0 10px;
		margin: auto;
		strong {
			font-weight: inherit;
			font-size: inherit;
			color: $primary_button_bg;
		}
	}
}

.page_content_wrapper {
	margin-top: 65px;
}
.page_content {
	.page_content_para {
		font-size: 20px;
		line-height: normal;
		color: #797777;
		br {
			margin-top: 20px;
		}
	}
}
.page_top_title_section {
	background-color: $primary_color;
	min-height: 45vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	&::before {
		z-index: -1;
		position: absolute;
		content: '';
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-image: url('/assets/page-top-bg.png');
		background-repeat: no-repeat;
		background-position: left;
		background-size: contain;
	}

	.page_top_title {
		color: white;
		font-size: 48px;
		font-family: 'Prosto One', sans-serif;

		strong {
			font-weight: inherit;
			font-size: inherit;
			color: $primary_button_bg;
		}
	}
	.page_top_subtitle {
		font-size: 20px;
		max-width: 600px;
		text-align: center;
		color: white;
	}
}
.page_content_title_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px 0;
	.page_content_title {
		font-size: 38px;
		font-weight: 500;
		font-family: 'Prosto One', sans-serif;
		position: relative;
		padding: 10px;
		text-transform: capitalize;

		strong {
			font-weight: inherit;
			font-size: inherit;
			color: $primary_button_bg;
		}
		&::before {
			z-index: -1;
			position: absolute;
			content: '';
			right: 0px;
			bottom: 0px;
			width: 120px;
			height: 100%;
			background-image: url('/assets/title-line.png');
			background-repeat: no-repeat;
			background-position: bottom;
			background-size: contain;
		}
	}
}
