$blue: #00baff;
$blue-text: #006eff;
$blue-second: #84d7f53b;
$sky-blue: #006eff;
$blue-hover: #129ed1;
$gray-text: #777879;
$title-color: black;
$subtitle-color: rgba(0, 0, 0, 0.507);
$text-color: rgba(0, 0, 0, 0.473);
$subtext-color: rgba(0, 0, 0, 0.384);
$devider-color: rgba(231, 228, 228, 0.623);

$price-title-color: #164b77;
$primary-color: #78f3f3;
$secondary-color: #b1edff;

$primary_color: #5d3ebd;
// $primary_color: #6c418f;
$primary_button_bg: #fd9010;
$secondary_button_bg: #f3b415;
$bacground_color: #fcfcfc;
$gradient_primary_button: linear-gradient(to right, $primary_button_bg 0%, $secondary_button_bg 51%, $primary_button_bg 100%);

$title_color: #282727;
$subtext_color: #898181;
